################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/Gyomu
/Gyomu/bin/Debug/netstandard2.0
/Gyomu/obj
/Gyomu.ModelGenerator/bin/Debug
/Gyomu.ModelGenerator/obj/Debug
/Gyomu.Test/bin/Debug/netcoreapp2.1
/Gyomu.Test/obj
/GyomuTaskExecutor/bin/Debug
/GyomuTaskExecutor/obj/Debug
/packages
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
